// _myadditions.scss

.alert-danger {
	margin-right: auto;
	padding: 0.25rem;
	background-color: white;
	color: red;
	width: 25%;
	text-align: center;
	border: 1px solid red;
	border-radius: 5px;
}
.alert-success {
	margin-right: auto;
	padding: 0.25rem;
	background-color: white;
	color: yellow;
	width: 25%;
	text-align: center;
	border: 1px solid yellow;
	border-radius: 5px;
}
.alert-info {
	// margin-right: auto;
	padding: 0.5rem;
	background-color: white;
	color: green;
	width: 100%;
	text-align: center;
	border: 1px solid green;
	border-radius: 5px;
}

[data-invalid] .formkit-inner {
	border-color: red;
	box-shadow: 0 0 0 1px red;
}

[data-complete] .formkit-inner {
	border-color: green;
	box-shadow: 0 0 0 1px green;
}
/* [data-complete] .formkit-inner::after {
	content: '✅';
	display: block;
	padding: 0.5em;
} */

.ql-align-center {
	text-align: center;
}
.ql-align-right {
	text-align: right;
}
.ql-align-left {
	text-align: left;
}
.ql-indent-1,
.ql-indent-2,
.ql-indent-3 {
	background: transparent;
	margin: 1rem;
	padding-left: 2rem;
}
.ql-font-serif {
	font-family: serif;
}
.ql-size-huge {
	font-size: xx-large;
}
.ql-size-large {
	font-size: xx-large;
}
.ql-size-small {
	font-size: small;
}

@import 'primeflex/primeflex.scss';

.topsectioncenter {
	@include styleclass('flex flex-column align-items-center');
}

.topsectionitem {
	@include styleclass('w-20rem mt-2 text-center');
}
.renderlist-enclosure {
	@include styleclass('border-1 border-round-lg bg-white min-w-min');
}

.my-renderlist-styles {
	@include styleclass('p-1 border-top-1');
}
.mybutton {
	@include styleclass(
		'bg-blue-500 text-white hover:bg-blue-600 border-round transition-colors transition-duration-150 p-3 border-none'
	);
}

.my-simple-card-style {
	@include styleclass(
		'bg-white border-round-sm md:border-round-lg shadow-6 m-2 p-2'
	);
}

.my-card-style {
	@include styleclass(
		'border-round-sm md:border-round-lg shadow-6 m-2 p-2 bg-blue-600 text-white font-semibold'
	);
}

.my-form-style {
	@include styleclass(
		'text-xs sm:text-sm md:text-md lg:text-lg mx-auto border-round-md md:border-round-lg shadow-6 m-2 p-4 w-full md:w-6'
	);
}

.my-text-style {
	@include styleclass('text-xs sm:text-sm md:text-md lg:text-lg');
}

.my-header-style {
	@include styleclass(
		'm-4 text-center font-semibold text-lg sm:text-xl md:text-2xl lg:text-3xl'
	);
}

.my-datatable-wrapper-style {
	@include styleclass(
		'p-2 text-md border-blue-700 border-2 border-round-md md:border-round-lg'
	);
}

.my-fileupload-wrapper-style {
	@include styleclass('w-8 md:w-full border-1 p-2 m-2 border-round-sm');
}
// 'p-2 text-md border-blue-900 border-1 border-round-md md:border-round-lg'
