// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
@import '_myadditions';

// why ???
/* a {
	outline: none !important;
	box-shadow: none !important;
}

button {
	outline: none !important;
	box-shadow: none !important;
} */

// increase padding on large screens

.card {
	padding: 0.5rem;
}
@media (min-width: 768px) {
	.card {
		padding: 1.5rem;
	}
}

.p-radiobutton {
	margin-right: 5px;
}

.field-radiobutton {
	margin-top: 10px;
}
// overrides all themes ???
body {
	background-color: rgb(3, 3, 96);
	background-color: rgb(0, 0, 100);
}

@import 'primeflex/primeflex.scss';

.topsectioncenter {
	@include styleclass('flex flex-column align-items-center');
}
.formsectionitem {
	@include styleclass('p-3 border-1 border-round-lg bg-white');
}
.topsectionitem {
	@include styleclass('w-20rem mt-2 text-center');
}
.renderlist-enclosure {
	@include styleclass('p-1 border-1 border-round-lg bg-white min-w-min');
}
.mybutton {
	@include styleclass(
		'bg-blue-500 text-white hover:bg-blue-600 border-round transition-colors transition-duration-150 p-3 border-none'
	);
}
