.layout-topbar-admin {
	position: fixed;
	height: 4rem;
	z-index: 997;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 2rem;
	background-color: var(--surface-card);
	background-color: gray;
	transition: left $transitionDuration;
	/*  
	.layout-topbar-logo {
		display: flex;
		align-items: center;
		color: var(--surface-900);
		font-size: 1.5rem;
		font-weight: 500;
		width: 300px;
		border-radius: 12px;

		img {
			height: 2.5rem;
			margin-right: 0.5rem;
		}

		&:focus {
			@include focused();
		}
	}

	.layout-topbar-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		color: var(--text-color-secondary);
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		transition: background-color $transitionDuration;
		background-color: transparent;
		outline: none !important;

		&:hover {
			color: var(--text-color);
			background-color: var(--surface-hover);
		}

		&:focus {
			@include focused();
		}

		i {
			font-size: 1.5rem;
		}

		span {
			font-size: 1rem;
			display: none;
		}
	}

	.layout-menu-button {
		margin-left: 2rem;
	}

	.layout-topbar-menu-button {
		display: none;

		i {
			font-size: 1.25rem;
		}
	}

	.layout-topbar-menu {
		margin: 0 0 0 auto;
		padding: 0;
		list-style: none;
		display: flex;

		.layout-topbar-button {
			margin-left: 1rem;
		}
	}
	*/
}

.layout-topbar {
	position: fixed;
	height: 9rem;
	z-index: 997;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 2rem;
	background-color: var(--surface-card);
	background-color: gray;
	transition: left $transitionDuration;

	/* 	.layout-topbar-logo {
		display: flex;
		align-items: center;
		color: var(--surface-900);
		font-size: 1.5rem;
		font-weight: 500;
		width: 300px;
		border-radius: 12px;

		img {
			height: 2.5rem;
			margin-right: 0.5rem;
		}

		&:focus {
			@include focused();
		}
	}
 */

	.layout-topbar-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		color: var(--text-color-secondary);
		color: green;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		transition: background-color $transitionDuration;
		background-color: transparent;
		outline: none !important;

		&:hover {
			color: var(--text-color);
			background-color: var(--surface-hover);
		}

		&:focus {
			@include focused();
		}

		i {
			font-size: 1.5rem;
		}

		span {
			font-size: 1rem;
			display: none;
		}
	}

	.layout-menu-button {
		margin-left: 2rem;
	}

	.layout-topbar-menu-button {
		display: none;

		i {
			font-size: 1.25rem;
		}
	}

	.layout-topbar-menu {
		margin: 0 0 0 auto;
		margin-top: 0.5rem;
		padding: 0;
		list-style: none;
		display: flex;

		.layout-topbar-button {
			margin-left: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.layout-topbar {
		height: 15rem;

		/* 		.layout-topbar-logo {
			width: auto;
			order: 2;
		}

		.layout-menu-button {
			margin-left: 0;
			order: 1;
		}

		.layout-topbar-menu-button {
			display: inline-flex;
			margin-left: 0;
			order: 3;
		} */

		.layout-topbar-menu {
			// margin-left: 0;
			// position: absolute;
			// right: 2rem;
			// top: 5rem;
			// top: 0;
			// flex-direction: column;
			flex-direction: row;
			background-color: var(--surface-overlay);

			border-radius: 6px;
			// padding: 1rem;
			padding: 0.5rem;

			min-width: 15rem;

			.layout-topbar-button {
				margin-left: 0;
				display: flex;
				width: 100%;
				height: auto;
				justify-content: flex-start;
				border-radius: 12px;
				// padding: 1rem;
				padding: 0.5rem;

				i {
					font-size: 1rem;
					margin-right: 0.5rem;
				}

				span {
					font-weight: medium;
					display: block;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.layout-topbar {
		height: 17rem;
	}
}

@media (min-width: 1200px) {
	.layout-topbar {
		height: 23rem;
	}
}
