/* header enclosure */
.layout-header {
	utline: 1px solid red;
	width: 100%;
	padding: 0 2rem;
	// background-color: transparent;
	background-color: gray;
}

/* social menu bar */

.layout-topbar {
	outline: 1px solid red;
	height: 2rem;
	width: 100%;
	padding: 0;
	background-color: transparent;
	background-color: rgb(233, 78, 78);
	display: none;

	.layout-topbar-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		color: var(--text-color-secondary);
		color: green;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		transition: background-color $transitionDuration;
		background-color: transparent;
		outline: none !important;

		&:hover {
			color: var(--text-color);
			background-color: var(--surface-hover);
		}

		&:focus {
			@include focused();
		}

		i {
			font-size: 1rem;
		}

		span {
			font-size: 0.75rem;
		}
	}

	.layout-menu-button {
		margin-left: 1rem;
	}

	.layout-topbar-menu-button {
		display: none;

		i {
			font-size: 1rem;
		}
	}

	.layout-topbar-menu {
		margin: 0 0 0 auto;
		margin-top: 0.5rem;
		padding: 0;
		list-style: none;
		display: flex;

		.layout-topbar-button {
			margin-left: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.layout-topbar {
		outline: 2px solid green;
		height: 4rem;
		width: 100%;
		padding: 0;
		// background-color: transparent;
		display: contents;

		.layout-topbar-menu-button {
			display: inline-flex;
			margin-left: 0;
			order: 3;
		}

		.layout-topbar-menu {
			flex-direction: column;
			flex-direction: row;
			background-color: var(--surface-overlay);
			border-radius: 6px;
			// padding: 1rem;
			padding: 0.5rem;

			.layout-topbar-button {
				margin-left: 0;
				display: flex;
				width: 100%;
				height: auto;
				justify-content: flex-start;
				border-radius: 12px;
				// padding: 1rem;
				padding: 0.5rem;

				i {
					font-size: 1rem;
					margin-right: 0.5rem;
				}

				span {
					font-weight: medium;
					font-size: 0.8rem;
					display: block;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.layout-topbar {
		padding: 0 6rem;
	}
}
